
<a href="/questions/new" class="button">Post new question</a>

<ul>
  <% @questions.each do |question|%>
  <div class="card card-block">
    <li>
      <span class="label yellow">Votes: <%=question.vote_count%></span>
      <span class="label green">Answers: <%=question.answer_count%></span>
      <span class="label orange">Views: <%=question.views%></span>
      <h2><a href="/questions/<%=question.id%>" class="card-title"><%=question.title%></a></h2>
      <span class="card-text"><a href="/users/<%=question.asker.id%>"><%=question.asker.name%></a> created <%=question.age%> ago</span>
    </li>
  </div>
  <%end%>
</ul>
