
<ul>
  <% @questions.each do |question|%>
  <div class="card card-block">
    <li>
      <span class="label yellow">Votes: <%=question.vote_count%></span>
      <span class="label green">Answers: <%=question.answer_count%></span>
      <span class="label orange">Views: <%=question.views%></span>
      <h2><a href="/questions/<%=question.id%>" class="card-title"><%=question.title%></a></h2>
      <span class="card-text"><a href="/users/<%=question.asker.id%>"><%=question.asker.name%></a> created <%=question.age%> ago</span>
    </li>
  </div>
  <%end%>
</ul>

<div id="container-floating">

  <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" onclick="newmail()">
    <p class="plus">+</p>
    <a href="/questions/new"><img class="edit" src="http://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png"></a>
  </div>

</div>
