
<div class="jumbotron">
	<div class="container-fluid">

		<h2 class="bottom-line"><a href="/questions/<%= @question.id %>"><%= @question.title %></a></h2>
		<div class="row">
			<div class="col-sm-2">
				<form class="vote-item" action="/votes" method="POST">
					<input type="hidden" name="question" value="<%= @question.id %>">
					<input class="btn btn-success" type="submit" name="upvote" value="Upvote">
				</form>

				<span ><%=@question.vote_count%></span>

				<form class="vote-item" action="/votes" method="POST">
					<input type="hidden" name="question" value="<%= @question.id %>">
					<input class="btn btn-yellow" type="submit" name="downvote" value="Downvote" >
				</form>
			</div>

			<div class="col-sm-10 post-content">
				<h4><%=@question.content%></h4>
			</div>
		</div>
		<div class="col-sm-12">
			<span class="label brown ">asked <%=@question.age%> ago</span>
		</div>
	</div>
</div>

<div class="card card-block">
	<div class="container-fluid">
		<div class="col-sm-12">
			<%=erb :'/comments/_comment_show', :layout => false, :locals => { post: @question} %>
		</div>
		<div class="col-sm-12">
			<form action="/questions/<%=@question.id%>/comment" method="post">
			<label for="body-textarea" class="block mar-b-1"></label>
			<textarea name="content" tabindex="2" ></textarea>
			<input class="btn btn-yellow" type="submit" value="Comment" >
			</form>
		</div>
	</div>
</div>

<%=erb :'/answers/_answer_show', :layout => false, :locals =>{ answers: @answers, quest_id: @question.id } %>

<form action="/questions/<%=@question.id%>/answers" method="post" class="answer-post">

	<label for="body-textarea" class="block mar-b-1">Answer:</label>
  <textarea name="content" tabindex="2" ></textarea>
   <input type="submit" value="Answer" >

</form>
