<h2><a href="/questions/<%= @question.id %>"><%= @question.title %></a></h2>


<div>
	<form action="/votes" method="POST">
		<input type="hidden" name="question" value="<%= @question.id %>">
		<input type="submit" name="upvote" value="Upvote">
	</form>

<h3><%=@question.vote_count%></h3>

	<form action="/votes" method="POST">
		<input type="hidden" name="question" value="<%= @question.id %>">
		<input type="submit" name="downvote" value="Downvote">
	</form>
</div>

<p><%=@question.content%></p>
<span>Asker: <%=@question.asker.name%></span>
<br>
<span>Asked <%=@question.age%> ago</span>
