<<<<<<< 185f8c9d5e50a005766d8325c2bf75cd8ce063d4



<h2><a href="/questions/<%= @question.id %>"><%= @question.title %></a></h2>



=======
<h2><a href="/questions/<%= @question.id %>"><%= @question.title %></a></h2>


>>>>>>> Styled landing page & login page
<div>
	<form action="/votes" method="POST">
		<input type="hidden" name="question" value="<%= @question.id %>">
		<input type="submit" name="upvote" value="Upvote">
	</form>

	<span>Votes:  <%=@question.vote_count%></span>

	<form action="/votes" method="POST">
		<input type="hidden" name="question" value="<%= @question.id %>">
		<input type="submit" name="downvote" value="Downvote">
	</form>
</div>

<<<<<<< 185f8c9d5e50a005766d8325c2bf75cd8ce063d4

=======
>>>>>>> Styled landing page & login page
<p><%=@question.content%></p>
<span>Votes: <%=@question.vote_count%></span>
<span>asked <%=@question.age%> ago</span>
<%=erb :'/comments/_comment_show', :layout => false, :locals => { post: @question} %>
<%=erb :'/answers/_answer_show', :layout => false, :locals =>{ answers: @answers } %>
<<<<<<< 185f8c9d5e50a005766d8325c2bf75cd8ce063d4

<form action="/questions/<%=@question.id%>/answers" method="post">
	
	<label for="body-textarea" class="block mar-b-1">Answer:</label>
  <textarea name="content" tabindex="2" ></textarea>
   <input type="submit" value="Answer" >
	
</form>
=======
>>>>>>> Styled landing page & login page
