<div class="jumbotron">
	<div class="container-fluid">

		<h2 class="bottom-line"><a href="/questions/<%= @question.id %>"><%= @question.title %></a></h2>

		<div class="row">
			<div class="col-sm-2">
				<% if logged_in? && Vote.find_by(votable_type: "Question", votable_id: @question.id, voter_id: current_user_id) %>
				<% vote = Vote.find_by(votable_type: "Question", votable_id: @question.id, voter_id: current_user_id) %>
					<form class="vote-item" action="/votes/<%= vote.id %>" method="POST">
					<input type="hidden" name="_method" value="PUT">
				<% else %>
					<form class="vote-item" action="/votes" method="POST">
				<% end %>
					<input type="hidden" name="question" value="<%= @question.id %>">
					<input class="btn btn-success" type="submit" name="upvote" value="Upvote">
				</form>

				<span ><%=@question.vote_count%></span>

				<% if logged_in? && Vote.find_by(votable_type: "Question", votable_id: @question.id, voter_id: current_user_id) %>
				<% vote = Vote.find_by(votable_type: "Question", votable_id: @question.id, voter_id: current_user_id) %>
					<form class="vote-item" action="/votes/<%= vote.id %>" method="POST">
					<input type="hidden" name="_method" value="PUT">
				<% else %>
					<form class="vote-item" action="/votes" method="POST">
				<% end %>
					<input type="hidden" name="question" value="<%= @question.id %>">
					<input class="btn btn-warning" type="submit" name="downvote" value="Downvote">
				</form>
			</div>

			<div class="col-sm-10 post-content">
				<h4><%=@question.content%></h4>
			</div>
		</div>

		<div class="col-sm-12">
			<span class="label brown">asked <%=@question.age%> ago</span>
		</div>
	</div>
</div>

<div class="card card-block comment-block">
	<div class="container-fluid">
		<%=erb :'/comments/_comment_show', :layout => false, :locals => { post: @question} %>

				<form action="/questions/<%=@question.id%>/comment" method="post">
				<label for="body-textarea" class="block mar-b-1"></label>
				<input type="text" placeholder="Leave  a comment" name="content">
				<button type="submit" class="btn btn-yellow">Comment</button>
				</form>
	</div>
</div>

<%=erb :'/answers/_answer_show', :layout => false, :locals =>{ answers: @answers, quest_id: @question.id } %>

<div class="card card-block card-form">
<form action="/questions/<%=@question.id%>/answers" method="post" class="answer-post">

	<label for="body-textarea" class="block mar-b-1">Answer:</label>
	<input type="text" placeholder="Leave  an answer" name="content">
	 <button type="submit" class="btn btn-yellow" value="Answer">Answer</button>
</form>
</div>

<div id="container-floating">

  <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" onclick="newmail()">
    <p class="plus">+</p>
    <a href="/questions/new"><img class="edit" src="http://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png"></a>
  </div>

</div>
