<div class="jumbotron">
	<div class="container-fluid">
    <!-- user profile information, a button to go edit (ajaxify to edit in place) -->
    <h1 class="name bottom-line"><%=@user.name%></h1>
    <br>
    <%if current_user && @user.id == current_user_id%>
      <div id="edit-erb-form" class="hidden">
        <%= erb :"/users/_edit" %>
      </div>

      <form method="get" action="/users/<%=@user.id%>/edit" class = "edit-form">
        <input type="submit" value="Edit Profile" class ="button">
      </form>
    <%end%>

    <!-- questions I've asked, how many answers to those questions, their vote count -->
    <%if current_user && @user.id == current_user_id%>
      <h2 class="bottom-line">Questions You've Asked</h2>
    <%else%>
      <h2 class="bottom-line">Questions <%=@user.name%> Has Asked</h2>
    <%end%>
    <div class="col-sm-12">

    </div>
    <div class="row">
      <table class="table">
      <div class="col-sm-12">
        <tr class="post-content bottom-line">
              <th>Question</th>
              <th>Answer Count</th>
              <th>Question Vote Count</th>
        </tr>
      </div><br>
        <%@user.questions.each do |question|%>
        <div class="col-sm-12">
          <tr class="post-content">
            <td><a href= <%="/questions/#{question.id}"%>><%=question.title%></a></td>
            <td><%=question.answers.count%></td>
            <td><%=question.votes.count%></td>
          </tr>
        </div>
        <%end%>
      </table>
    </div>

    <!-- answers I've made, what questions, vote count on those answers -->
    <%if current_user && @user.id == current_user_id%>
      <h2 class="bottom-line">Answers You've Given</h2>
    <%else%>
      <h2 class="bottom-line">Answers <%=@user.name%> Has Given</h2>
    <%end%>
    <table class="table">
    <div class="col-sm-12">
      <tr class="post-content bottom-line">
        <th>Question</th>
        <th>Answer</th>
        <th>Answer Vote Count</th>
      </tr>
    </div><br>
      <%@user.answers.each do |answer|%>
      <div class="col-sm-12">
        <tr class="post-content">
          <td><a href= <%="/questions/#{answer.question.id}"%>><%=answer.question.title%></a></td>
          <td><%=answer.content%></td>
          <td><%=answer.votes.count%></td>
        </tr>
      </div>
      <%end%>
    </table>
  </div>
</div>
