<%answers.each do |answer| %>
<ul>
<li>
  <span>Votes:  <%=answer.vote_count%></span>
  <h3>Answer</h3>
  <span><%=answer.answerer.name%> answered <%=answer.age%> ago</span>
  <p><%=answer.content%></p>
  <h4>Comments: </h4>
      <%= erb :'/comments/_comment_show', locals: {comment: answer.comments, post: answer}%>
</li>
</ul>
<%end%>
