<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">

    <!-- Your custom styles (optional) -->
    <link href="/css/style.css" rel="stylesheet">

      <title>Pizza Overflow</title>
</head>

<body>
        <!--Navbar-->
        <nav class="navbar navbar-dark navbar-fixed-top red scrolling-navbar">

            <!-- Collapse button-->
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
                <i class="fa fa-bars"></i>
            </button>

            <div class="container">

                <!--Collapse content-->
                <div class="collapse navbar-toggleable-xs" id="collapseEx2">
                    <!--Navbar Brand-->
                    <a class="navbar-brand" href="/">Pizza Overflow</a>
                    <!--Links-->
                    <ul class="nav navbar-nav ">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>

                        <%if logged_in?%>
                            <li class="nav-item">
                                <a class="nav-link" href="/users/<%=current_user_id%>"><%=current_user.name%></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        <%else%>
                            <li class="nav-item">
                                <a class="nav-link" href="/login" id="login-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/users/new" id="register-link">Register</a>
                            </li>
                        <%end%>
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li> -->
                    </ul>
                    <!--Search form-->
                    <form class="form-inline">
                        <input class="form-control" type="text" placeholder="Search">
                    </form>
                </div>
                <!--/.Collapse content-->
            </div>
        </nav>
        <!--/.Navbar-->
        <% unless logged_in? %>
        <div class="card card-block card-form" id="login-form-container">
            <%= erb :'/users/index'%>
        </div>
        <div class="card card-block card-form" id="register-form-container">
            <%= erb :'/users/new'%>
        </div>
        <% end %>

        <div class="container">
          <%= yield %>
        </div>
        <!-- Start your project here-->

        <!-- /Start your project here-->


        <!-- SCRIPTS -->

        <!-- JQuery -->

        <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/js/answer.js"></script>

        <script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>


        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="/js/tether.min.js"></script>

        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>

        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="/js/mdb.min.js"></script>

        <!-- Edit User JavaScript -->
        <script type="text/javascript" src="/js/users.js"></script>
</body>

</html>
